body {
    background-color: black;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#alles {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    align-content: center;
    background-color: black;
    color: rgb(0, 255, 0);
    font-family: "sixtyfour";
    font-size: 15px;
    border: 5px dotted rgb(0, 255, 0);
    border-radius: 15px;
    animation: rainbow-border 3s linear infinite;
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    line-height: 3rem;
    animation: flicker 1s linear;
    opacity: 50%;
}

@keyframes flicker {
    0% { opacity: 0; }
    9% {opacity: 0;}
    10% { opacity: 1; }
    12% { opacity: 0; }
    29% {opacity: 0;}
    30% { opacity: 1; }
    35% { opacity: 0; }
    59% {opacity: 0;}
    60% { opacity: 1; }
    62% { opacity: 0; }
    78% {opacity: 0;}
    80% { opacity: 1; }
    85% { opacity: 0; }
    100% { opacity: 1; }
}